BOT_TOKEN=123:ABC
DB_URI=postgresql+asyncpg://postgres:password@localhost:5432/bgitu_compass_bot
REDIS_URI=redis://localhost:6379/0

ADMIN_TG_ID=1
ADMINISTRATION_CHAT_ID=-1000000000

API_HOST=https://api-ssl.bgitu-compass.ru/